﻿@model IList<OpenXMLTest.Controllers.WtocArticle>

<table>
    <tr style="border: 1px solid red;">
        <th>KataloškiBroj</th>
        <th>PromjenaStanja</th>
        <th>Pakiranje</th>
        <th>BrojRacuna</th>
        <th>Datum</th>
        <th>ImeKupcaDobavljaca</th>
        <th>UkupnaKolicina</th>
    </tr>

    @foreach(var item in Model)
    {<tr style="border: 1px solid black;"><td >@item.StockNumber</td><td>@item.StateChange</td><td>@item.Packaging</td><td>@item.AccountNumber</td><td>@item.Date</td><td style="border: 1px solid black;">@item.PartnerName</td><td>@item.TotalQuantity</td></tr>}
</table>