﻿@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Excel proba</h1>
    <div class="col-md-4">
        @using (Html.BeginForm("Excel", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" />
            <input class="btn btn-primary btn-lg" type="submit" name="Submit" id="Submit" value="Upload" />
        }
    </div>
</div>